body{
  background-color: #436b95;
  color: white;
}

.App {
  text-align: center;
}


.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.logo-text {
  pointer-events: none;
  animation-name: glow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

.App-link {
  color: #61dafb;
}

@keyframes glow {
  0%{
    text-shadow: 0 0 2px white;
  }

  100% {
    text-shadow: 0 0 15px whitesmoke;
  }
}

